body, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

#hero {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('assets/Stocksy_unlicensed_comp_watermarked_332072.jpg') center/cover no-repeat;
	/*background: url('assets/Stocksy_unlicensed_comp_watermarked_5611513.jpg') center/cover no-repeat;*/
	padding: 2em;
	box-sizing: border-box;
	position: relative;
	color: white;
}

#hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* adjust opacity for darkness */
	z-index: 1;
}

#hero > * {
	position: relative;
	z-index: 2; /* keeps text above the overlay */
}

#hero-nav {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
}

#hero-image {
	width: 50px;
	height: 50px;
}

#hero-company-name {
	padding-left: 10px;
}

#hero-bold {
	font-weight: bold;
}

#hero-small {
	font-size: 0.8em;
}

#hero h1 {
	font-size: 4em;
	margin-bottom: 50px;

}

#hero-content {
	max-width: 800px;
}

#seeMore {
	background-color: white;
	border: none;
	border-radius: 999px;
	padding: 20px;
	font-size: 1.15em;
}

button:hover {
	cusror: pointer;
}

#main {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px 10px 10px 10px;
	min-height: 100vh;
	box-sizing: border-box;
}

#content p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.project-card {
	/*shape & border*/
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;

	/*layout*/
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
}

.project-header h3 {
	margin-bottom: 0px;
}

.project-header p {
	margin-top: 0px;
	margin-bottom: 0px;
}


.project-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.project-tag {
	padding: 10px;
	background-color: #ccc;
	border-radius: 999px;
}

.job-tiles {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.job-tile {
	
	/*size and layout*/
	border-radius: 10px;
	height: 100px;

	@media only screen and (max-width: 600px) { 
		flex: 1;
	}
	@media only screen and (min-width: 601px) { 
		width: 100px;	
	}

	/*display*/
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.electrician {
	background-color: #74b9ff;
	color: #0984e3;
}

.hvac {
	background-color: #55efc4;
	color: #00b894;
}

.plumbing {
	background-color: #a29bfe;
	color: #6c5ce7;
}
