#email {
	max-width: 700px;
	margin: 0 auto;
	position: relative;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(100vh - 50px);
	box-sizing: border-box;
}

#email-button {
	padding: 20px 40px 20px 40px;
	background-color: var(--primary-color);
	color: black;
	border: none;
	display: block;
	border-radius: 999px;
	margin-top: 20px;
}

#email-form {
	margin-top: 20px;
}

#email-thank-you {
	margin-top: 20px;
	display: none;
}

#email-error {
	margin-top: 20px;
	font-weight: bold;
	color: red;
	display: none;
}

#email-hero-nav{
	display: flex;
	align-items: center;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
}

#email-input {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	min-width: 200px;
}